mixin sStory()
	// start sStory
	+b.SECTION.sStory.section#sStory&attributes(attributes)
		.container
			.row
				.col-md-auto
					+b.A.back-link(href="#")
						+icon('arrow-left')
				.col
					+e.img-wrap
						img(src=`img/@2x/story-1.jpg`, alt="")
					+e.wrapper
						+e.DIV.date 18.08.2021
						- let tittle=`Победители корпоративного творческого конкурса Металлоинвеста «Труд БЕЗ опасности» посетили "Железно!"`
						h1(title= tittle)= tittle
						p Центр &laquo;Железно!&raquo;&nbsp;&mdash; это многофункциональное экспозиционно-образовательное и&nbsp;досуговое пространство. В&nbsp;оснащенных мультимедийным оборудованием залах посетители получат возможность просматривать фотослайды, видеоролики, с&nbsp;использованием интерактивных сервисов ознакомиться с&nbsp;процессами выплавки стали, производства проката, с&nbsp;историей разведки железорудных месторождений и&nbsp;создания выдающихся сооружений из&nbsp;металла, найти нужную информацию в&nbsp;режиме online. Экспозиционные помещения музея трансформируются в&nbsp;образовательные классы, где планируется проводить лекции, вебинары, мастер-классы
						img(src=`img/@2x/story-2.jpg`, alt="")
						p Центр &laquo;Железно!&raquo;&nbsp;&mdash; это многофункциональное экспозиционно-образовательное и&nbsp;досуговое пространство. В&nbsp;оснащенных мультимедийным оборудованием залах посетители получат возможность просматривать фотослайды, видеоролики, с&nbsp;использованием
						+b.block-share
							+e.SPAN.tittle Поделиться
							+soc2()


	// end sStory