mixin s-news()
	// start s-news
	+b.SECTION.s-news.section#s-news&attributes(attributes)
		.container
			+b.section-title( class="wow  animate__fadeInLeft")
				.row
					.col-auto
						h2 Новости
					.col-auto
						a(href="#").strong Читать все
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(i)
						+e.slide.swiper-slide( class="wow  animate__fadeInUp  ")
							+e.item(href="#")
								+e.DIV.img-wrap
									img.swiper-lazy.res-i(src=`img/@2x/news-${i}.jpg`, alt="")
								+e.DIV.caption
									+e.DIV.date 01 ИЮНЯ 2018
									+e.DIV.title Победители корпоративного творческого конкурса Металлоинвеста «Труд БЕЗ опасности» посетили "Железно!"
					+slide('1')
					+slide('2')
					+slide('3')
	// end s-news


mixin s-news-03()
	// start s-news-03
	+b.SECTION.s-news--03.section#s-news&attributes(attributes)
		.container 
			.row
					mixin slide(i)
						+e.col.col-lg-4
							+e.slide.swiper-slide( class="wow  animate__fadeInUp  ")
								+e.item(href="#")
									+e.DIV.img-wrap
										img.swiper-lazy.res-i(src=`img/@2x/news-${i}.jpg`, alt="")
									+e.DIV.caption
										+e.DIV.date 01 ИЮНЯ 2018
										+e.DIV.title Победители корпоративного творческого конкурса Металлоинвеста «Труд БЕЗ опасности» посетили "Железно!"
					+slide('1')
					+slide('2')
					+slide('3')
					+slide('1')
					+slide('2')
					+slide('3')
					+slide('1')
					+slide('2')
					+slide('3')
					+slide('1')
					+slide('2')
					+slide('3')

			.text-center( class="wow  animate__fadeInUp  ")
				a.btn-accent(href="#") Загрузить еще
	// end s-news-03

mixin s-news-about()
	// start s-news
	+b.SECTION.s-news--about.section#s-news&attributes(attributes)
		.container
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(i,t)
						+e.slide.swiper-slide( class="wow  animate__fadeInUp  ")
							+e.item(href="#")
								+e.DIV.img-wrap
									img.swiper-lazy.res-i(src=`img/@2x/about-last-${i}.jpg`, alt="")
								+e.DIV.caption
									+e.DIV.name= t
									+e.DIV.title Центр «Железно!» – это многофункциональное экспозиционно-образовательное и досуговое пространство. В оснащенных мультимедийным оборудованием залах посетители получат 
					+slide('1','Гараж')
					+slide('2','Кино')
					+slide('3','Звуки железа')