
	// start .s-news
	.s-news {
		background-image: url(../img/@2x/news-bg.png);
		background-repeat: no-repeat;
		background-position: top left;
		background-size: rem(1781) rem(440px) ;
	
		--sTPB: #{rem(30)};
		.section-title{
			.row{
				align-items: center;
			}
		}
		&__slide{
				@include media-breakpoint-up(sm) {

					max-width: rem(436);
				}
				max-width: rem(320);
		}
		&__img-wrap{
			position: relative;
			max-width: rem(376);
			margin-top: rem(30px);
			margin-bottom: rem(30);
			&::before{
				z-index: -1;
				content: '';
				background-image: url(../img/news-before.svg);
					@include media-breakpoint-up(sm) {

						width: rem(247px);
						height: rem(310px);
						right:-15%;
					}
					right:-10%;
					width: rem(247 * .8);
					height: rem(310 * .8);
				background-size: contain;
				position: absolute;
					@include media-breakpoint-up(xl) {

						// right:-15%;
					}
				top: -10%;
			}
		}
		&__date{
			font-weight: bold;
			font-size: $small;
			margin-bottom: 1em;
			color: $primary;
		}
		&__title{
			@extend .text-body;
			border-bottom: 1px solid transparent;
			display: inline;
			@include mt;
		}
		&__item:hover &__title{
			border-color: $body-color;
		}


		&--03{
			background-image: none;
		}

		&__col{
			margin-bottom: rem(94);
		}

		.btn-accent{
			margin-top: rem(49);
			margin-bottom: rem(43);
		}

		&__title-lg{
			@extend .mono;
			font-weight: 900;
			margin-bottom: rem(20);
			@extend .h1;
			text-shadow: em(2) em(2) 0 #fff;
			position: relative;
			// z-index: 2;
			&::before{
				z-index: -1;
				content: attr(data-title);
				position: absolute;
				top: rem(12);
				left: rem(-4);
				color: #E3E3E3;
				text-shadow: rem(2) rem(2) 0 $primary,
				rem(2) rem(-2) 0 $primary,
				rem(-2) rem(2) 0 $primary,
				rem(-2) rem(-2) 0 $primary,
				rem(2) 0px 0 $primary,
				0px rem(2) 0 $primary,
				rem(-2) 0px 0 $primary,
				0px rem(-2) 0 $primary;
			}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xxxl) {
		&__slider{
			overflow: inherit;
		}
	}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

	&__name {
		@extend .mono;
		@extend .h2;
		color: $body-color;
		margin-bottom: 1.6rem;
	}

	&--about {
		padding-top: calc(var(--sPT) / 1.4);
		padding-bottom: calc(var(--sPB) * 2.56);
		background-image: none;
		.s-news__title {
			line-height: 1.8;
		}
		.swiper-slide {
			.s-news__img-wrap {
				margin-top: 2.5rem;
				margin-bottom: 2.5rem;
				img {
					height: 100%;
					max-height: rem(292);
				}
				&::before {
					top: -16%;
					@include mt;
				}
			}
			.s-news__img-wrap::before {
				background-image: url(../img/news-about-3.svg);
			}
			&-active {
				.s-news__img-wrap::before {
					background-image: url(../img/news-about-1.svg);
				}
			}
			&-next {
				.s-news__img-wrap::before {
					background-image: url(../img/news-about-2.svg);
				}
			}
		}
	}
	.mb20{
		margin-bottom: rem(20);
	} 
	.center {
		@include media-breakpoint-down(lg) {
			margin: 0 auto;
		}
	}
} // end.s-news