mixin sAbout()
	// start sAbout
	+b.sAbout.section#sAbout&attributes(attributes)
		.container
			.row
				.col-lg-6
					+pic('about','','lazy','')
				.col
					p Центр &laquo;Железно!&raquo;&nbsp;&mdash; это многофункциональное экспозиционно-образовательное и&nbsp;досуговое пространство. В&nbsp;оснащенных мультимедийным оборудованием залах посетители получат возможность просматривать фотослайды, видеоролики, с&nbsp;использованием интерактивных сервисов ознакомиться с&nbsp;процессами выплавки стали, производства проката, с&nbsp;историей разведки железорудных месторождений и&nbsp;создания выдающихся сооружений из&nbsp;металла, найти нужную информацию в&nbsp;режиме online. Экспозиционные помещения музея трансформируются в&nbsp;образовательные классы, где планируется проводить лекции, вебинары, мастер-классы
	// end sAbout