mixin sAbout()
	// start sAbout
	+b.sAbout.section#sAbout&attributes(attributes)
		.container
			.row
				+e.col.col-lg( class="wow  animate__fadeInLeft  ") 
					+pic('about','','lazy','')
				+e.textCol.col( class="wow  animate__fadeInRight  ")
					p Центр &laquo;Железно!&raquo;&nbsp;&mdash; это многофункциональное экспозиционно&#8209;образовательное и&nbsp;досуговое пространство. В оснащенных мультимедийным оборудованием залах посетители получат возможность просматривать фотослайды, видеоролики, с&nbsp;использованием интерактивных сервисов ознакомиться с&nbsp;процессами выплавки стали, производства проката, с&nbsp;историей разведки железорудных месторождений и&nbsp;создания выдающихся сооружений из металла, найти нужную информацию в&nbsp;режиме online. Экспозиционные помещения музея трансформируются в образовательные классы, где планируется проводить лекции, вебинары, мастер-классы
	// end sAbout