extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sServices/_sServices.pug
include ../blocks/s-news/_s-news.pug
include ../blocks/sStory/_sStory.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Новость'
	title= title
block pagecontent 
	+mob-mnu()
	+top-nav()

	+sStory()
	+s-news-07
	+footer()
	