mixin s404()
	// start s404
	.container-fluid
		+b.SECTION.s404.section.text-center#s404&attributes(attributes)
			.s404__wrapper
				+pic('s404.png','','lazy','')
			p.s404__text К&nbsp;сожалению тут ничего нет. Попробуйте начать сначала.				
			a.s404__btn.btn-accent(href="#") На&nbsp;главную
	// end s404