mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			.top-nav__user(href="/")
				+icon('user')
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				+e.col.col-auto(class="wow  animate__fadeInLeft  ")
					img(src="img/@2x/logo-1.png", alt="")
				.col-auto.order-lg-0.order-last(class="wow  animate__fadeInLeft  ")
					+e.logo(href="/" )
						img(src="img/@2x/logo.png", alt="")
				+e.col.col-auto(class="wow  animate__fadeInLeft ")
					img(src="img/@2x/logo-2.png", alt="")
				+e.col.col(class="wow  animate__fadeInLeft ")
					img(src="img/@2x/logo-3.png", alt="")
				.col-auto.d-none.d-md-block(class="wow  animate__fadeInRight  ")
					+e.user(href="/")
						+icon('user')
				.w-100
				.col.d-none.d-lg-block(class="wow  animate__fadeInLeft  ")
					+mnu()
				.col-auto.d-lg-none.order-last(class="wow  animate__fadeInRight  ")
					+b.toggle-menu-mobile--js.d-lg-none
						span
					
	// end top-nav