 
	  
.soc{
	margin: 0 rem(-13);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(13);
		vertical-align: middle;
		@include mt;
		display: block;
		color: $body-color;
		&:hover{
			color: $primary;
		 
		}
		
	}
	.icon{
	font-size: rem(30);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

