mixin sSingle-service()
	// start sSingle-service
	+b.SECTION.sSingle-service.section#sSingle-service&attributes(attributes)
		.container
			mixin item(t,p,i,c,o,ord,dir1,dir2) 
				+e.item.row( class="wow  animate__fadeInUp" )
					svg(width="1608" height="357" viewbox="0 0 1608 357" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")
						path(d="M1045.42 356.573C1064.77 354.744 1114.24 357.717 1131.59 355.222L1122.11 355.737C1106.53 355.046 1144.34 354.004 1150.74 353.396C1163.58 355.021 1151.61 354.638 1166.92 356.131L1148.77 355.566L1152.77 356.902C1210.9 353.462 1260.99 358.475 1297.18 355.974C1294.98 356.104 1295.55 356.323 1293.17 356.451C1317.22 357.209 1334.13 355.508 1351.81 355.054C1353.85 355.722 1341.27 356.137 1332 356.658C1374.31 357.18 1445.38 355.358 1492.03 356.424C1508.48 355.521 1485.81 355.217 1502.93 354.535C1517.33 354.785 1527.54 355.51 1509.81 355.969C1519.06 356.351 1531.07 356.502 1544.84 356.524C1551.73 356.535 1559.05 356.515 1566.69 356.475C1578.9 356.423 1591.61 356.366 1604.62 356.313L1604.26 347.966L1604.07 344.918L1603.9 342.579C1603.68 339.457 1603.5 336.316 1603.44 333.225C1603.31 327.042 1603.63 321.053 1604.94 315.786C1601.77 305.533 1600.39 311.936 1598.29 296.21C1600.33 299.893 1605.24 292.482 1605.49 301.859L1607.71 302.967C1608.14 287.338 1608.95 266.48 1602.65 257.949C1607.3 257.458 1603.55 255.109 1606.05 249.213C1605.53 246.811 1605.35 249.429 1605.04 250.398C1601.07 244.657 1605.2 241.732 1604.58 237.625L1605.39 239.083L1602.51 227.852C1603.11 225.983 1604 223.171 1605.42 222.775L1602.18 222.842C1602.16 216.802 1606.31 219.917 1605.46 212.397L1603.04 213.984C1604.54 209.218 1601.17 201.588 1604.7 200.592C1605.39 200.389 1605.1 201.329 1605.21 203.022C1610.13 195.557 1603.6 183.706 1605.88 174.466L1600.64 176.824C1598.99 167.834 1601.72 171.328 1603.55 171.666C1603.52 165.647 1605.23 164.322 1605.8 156.393C1604.47 152.483 1603.87 154.352 1602.34 153.086L1603.61 144.997L1605.69 148.759C1599.48 136.35 1607.07 118.66 1600.33 110.676C1601.82 105.948 1603.48 114.901 1604.37 112.084C1607.73 97.328 1599.37 79.1206 1603.25 66.8188C1605.02 57.3832 1605.14 47.2813 1605.04 36.9109L1604.91 21.2046L1605.05 13.2908L1605.5 0.624008C1597.97 0.583569 1590.47 0.544213 1583.02 0.50594C1583.67 0.654337 1584.29 0.80165 1584.87 0.950047L1573.57 0.905637L1567.05 0.861225L1554.53 0.77132L1529.49 0.592593C1515.97 1.58804 1481.92 1.1266 1460.77 2.28561C1462.5 1.93249 1458.04 1.39198 1462.85 1.13419C1441.51 1.27283 1418.38 1.76243 1405.75 1.16126L1412.87 0.778895C1365.7 0.509179 1300.18 0.47993 1275.43 1.32048C1259.3 1.4288 1259.7 0.626159 1255.41 0.0856474C1228.13 0.0379859 1210.25 0.489676 1187.82 1.20025C1181.9 1.01286 1175.81 0.825463 1169.13 0.416017L1158.76 1.49921C1147.34 1.34648 1156.12 0.607741 1147.1 0.326111C1104.56 1.62594 1054.91 0.466922 1025.06 0.542744L1029.34 1.08434C1016.97 1.5057 992.977 0.748548 1007.68 0.202621C948.601 -0.447295 920.04 1.90214 840.179 1.61943C829.055 -0.35198 768.196 2.19568 756.43 5.43294e-05C722.695 0.562228 700.978 -0.324905 677.45 0.966256C676.756 0.743119 673.821 0.649964 679.182 0.612053C665.822 -0.207923 621.357 0.419242 587.538 0.973834L585.639 0.308755C573.443 1.74615 515.011 1.32912 502.808 2.76868C499.082 2.4513 509.247 2.15884 513.999 1.90212C496.323 0.541637 483.154 2.55204 460.412 2.24766C462.145 1.89562 455.449 1.48943 460.2 1.2273C384.727 -0.329251 275.161 2.31048 176.703 1.23811C149.303 1.18395 186.629 2.76 150.863 2.64626C140.542 1.91619 168.379 1.17312 145.664 0.86333C129.188 1.76346 123.172 1.57607 101.154 1.49049C105.164 1.01172 101.552 0.693267 117.003 0.365061C104.304 -0.230694 63.0621 1.51216 37.7623 0.31523C38.3965 0.531868 37.5543 0.711679 35.9635 0.863325C35.5685 0.901237 35.1248 0.938065 34.6465 0.971644C33.7974 1.00414 32.8895 1.0388 31.9399 1.07996C30.0719 1.1417 28.0443 1.20778 26.0065 1.27494C19.0404 1.4125 12.1124 1.50566 5.07703 1.56198C5.44434 6.11138 5.33691 11.758 5.00073 13.6417C4.65417 16.3399 4.09265 18.9212 3.54163 21.1905C2.43603 25.7279 1.39636 29.0165 2.38757 29.5029C2.38757 29.5029 3.01831 33.619 3.50012 30.0445C3.41687 34.3642 2.74792 40.5752 0.509031 39.4964C1.73596 41.7505 3.6698 43.7295 3.88818 47.1404L1.24731 45.299C1.81225 47.2618 3.47912 49.5235 3.80151 51.4526L5.39575 48.3926C3.20532 53.3374 8.49414 63.0265 3.45154 62.7384L3.33374 61.0594L1.06018 70.3045C3.09802 74.0036 5.13586 77.7438 4.44616 83.9375C-0.787113 86.3292 3.3164 99.7586 2.75842 107.659L0.938838 107.306C3.48266 113.491 2.34252 129.308 3.24706 126.444C3.27477 132.449 1.99926 140.573 0.370355 137.586C1.41015 142.469 1.35131 152.803 4.39074 155.37L-0.000251362 165.196C6.49096 171.094 -2.34315 184.837 4.53283 185.424C3.45849 190.897 1.93359 189.628 0.720573 193.422C4.09618 201.04 3.52782 208.918 2.96642 216.846L2.24877 217.054C1.68737 224.969 5.15661 234.266 5.51708 245.363L0.273549 247.708C1.01513 253.523 5.06664 254.944 3.96801 260.458C3.16405 261.742 2.89 260.526 2.60228 259.05C3.64208 264.466 2.31481 271.801 1.02208 275.896C4.79979 284.265 3.4099 290.692 7.48204 298.079C2.87267 304.59 5.42699 288.36 1.10179 293.946C-1.36232 305.844 1.21947 317.993 3.49645 331.091C2.50182 332.215 1.68395 330.753 0.571397 330.207C0.571397 330.207 13.1728 356.785 18.16 351.832C19.1546 352.783 20.0316 353.768 20.8461 354.421L17.1654 354.445L22.2497 355.203L49.3343 354.233L23.8647 354.397C24.3118 353.867 24.7657 353.042 25.2301 351.828L709.119 351.828C693.524 352.233 677.269 352.752 655.952 352.828L662.883 352.444L621.831 352.366L624.167 352.238L591.042 353.016L592.04 352.446C584.388 352.605 582.603 352.962 571.915 353.03L575.346 352.326C564.827 353.417 525.727 354.007 506.631 354.016L502.988 353.701L458.044 355.125C434.089 354.367 488.63 353.45 441.094 353.982L453.293 352.545C419.502 353.105 414.477 352.337 391.388 352.826C401.817 353.555 417.825 353.452 405.975 354.093C379.414 352.448 363.579 354.515 338.103 355.185C351.037 355.153 359.788 355.169 368.601 354.335C382.273 354.361 373.526 355.094 381.916 355.162L401.307 354.354L406.821 355.339L440.043 354.557C437.964 355.708 470.563 354.704 457.601 355.92C480.794 355.431 494.071 356.255 515.215 355.095C530.911 355.789 490.4 355.936 507.085 356.053C599.81 355.121 695.665 355.295 792.238 355.697L782.86 356.214C792.238 355.697 804.645 355.277 811.66 354.888C828.049 355.808 891.337 356.989 913.608 355.256C916.696 355.352 911.875 355.608 909.543 355.738C941.712 355.531 999.652 356.747 1045.43 356.568L1045.42 356.573ZM983.089 353.789C984.34 353.087 984.749 352.435 988.634 351.828L1197.96 351.828C1164.23 352.068 1135.96 352.803 1089.14 351.858C1053.54 352.768 1007.74 352.947 983.072 353.789L983.089 353.789ZM1316.88 351.828C1312.44 352.133 1305.57 352.311 1291.67 352.145L1292.25 351.828L1316.88 351.828ZM961.161 351.828C954.382 352.075 947.96 352.166 940.97 351.828L961.161 351.828ZM1293.85 353.834C1266.12 352.764 1269.67 354.896 1235.97 353.638C1243.76 353.521 1253.93 352.641 1259.46 352.18C1250.19 352.002 1241.67 351.892 1233.67 351.828L1278.58 351.828L1272.63 352.153C1283.51 353.104 1318.03 352.769 1293.84 353.833L1293.85 353.834ZM1342.71 351.927C1341.99 351.907 1341.26 351.873 1340.55 351.827L1411.02 351.827C1391.61 352.243 1370.69 352.465 1342.74 351.927L1342.71 351.927ZM1590.41 279.728L1590.41 276.743C1590.98 277.436 1591.56 278.186 1592.14 279.042C1591.47 279.421 1590.92 279.642 1590.41 279.728ZM1592 204.264C1592.21 207.638 1592.84 211.775 1592.34 215.335C1591.59 213.017 1590.96 211.924 1590.42 211.659L1590.42 202.191C1591.27 202.853 1591.8 203.552 1591.99 204.264L1592 204.264ZM1590.41 133.187L1590.41 129.385C1590.99 130.484 1591.77 131.571 1592.75 132.641C1592.03 134.322 1591.23 134.129 1590.41 133.183L1590.41 133.187ZM749.208 351.829L766.394 351.829C767.659 352.242 774.677 352.942 757.096 352.972C754.112 352.878 753.425 352.655 750.393 352.563L741.035 353.077C733.678 352.694 743.593 352.264 749.201 351.829L749.208 351.829ZM842.893 353.441C810.18 354.01 795.101 352.494 780.857 351.829L930.763 351.829C909.799 352.977 850.452 352.664 843.773 354.685C842.526 354.239 811.026 354.67 842.903 353.441" fill= c)

					+e.content.col
						+e.H2.tittle
							a(href="#")!= t
						if block
							block
						else
							p!= p
					.col-lg-auto
						div.shell
							+e.img-wrap(href="#")
								+pic(i,'','lazy')(class="service-img")

			+item(`VR-шоу в&nbsp;Железно!`,`В&nbsp;Железно теперь можно погрузиться и&nbsp;в&nbsp;виртуальную реальность! Для вас у&nbsp;нас есть современные шлемы виртуальной реальности и&nbsp;игровые контроллеры к&nbsp;ним! Теперь вы&nbsp;сможете погрузиться в&nbsp;игру полностью, насладиться полным присутствием в&nbsp;виртуальности. Для вас доступны шлемы виртуальной реальности Oculus Rift DK2 и&nbsp;HTC Vive, а&nbsp;также игровые контроллеры X-Rover Gun и&nbsp;KoR&nbsp;FX`,`service-oculus.png`,`#FF4500`)
			
			.row
				+e.col.col-lg-6( class="wow  animate__fadeInLeft  ") 
					+form-wrap()
						+input("Ваше Имя", "text","Ваше имя")(required) 
						//- +input("Ваш телефон","tel")(required)
						+input("Введите ваш электронный адрес","email","E-mail")(required)
						+input("ДД.ММ.ГГГГ","text","Желаемая дата посещения")(required)
						+e.row.row
							.col-auto
								+e.INPUT.btn.btn-accent(type="submit" value="Отправить заявку") 
							.col
								+e.polite
									+e.SMALL.text.text-secondary Нажимая &laquo;отправить заявку&raquo; я&nbsp;соглашаюсь с&nbsp;<a href="#">пользовательским соглашением</a>
				+e.textCol.col( class="wow  animate__fadeInRight  ")
					p Центр &laquo;Железно!&raquo;&nbsp;&mdash; это многофункциональное экспозиционно-образовательное и&nbsp;досуговое пространство. В&nbsp;оснащенных мультимедийным оборудованием залах посетители получат возможность просматривать фотослайды, видеоролики, с&nbsp;использованием интерактивных сервисов ознакомиться с&nbsp;процессами выплавки стали, производства проката, с&nbsp;историей разведки железорудных месторождений и&nbsp;создания выдающихся сооружений из&nbsp;металла, найти нужную информацию в&nbsp;режиме online. Экспозиционные помещения музея трансформируются в&nbsp;образовательные классы, где планируется проводить лекции, вебинары, мастер-классы
				+b.serv-gallery
					+e.slider--js.swiper-container
						.swiper-wrapper
							mixin slide(i)
								+e.slide.swiper-slide( class="wow  animate__fadeInUp  ")
									+e.item(href="#")
										+e.DIV.img-wrap
											img.swiper-lazy.res-i(src=`img/@2x/service-${i}.jpg`, alt="")
							+slide('1')
							+slide('1')
							+slide('1')
							+slide('1')
							+slide('1')
							+slide('1')
	// end sSingle-service