mixin mnu()
	-
		var nav= { 
		 
			"Расписание":"#",
			"Новости":"#",
			"О музее":"#" ,
			"Банк идей":"#",
			"Контакты":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement") 
		li.menu-item(itemprop="item" ): a.active(href='#' itemprop="url") Услуги
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

